body{
	background-color:black;
	font-family: 'Indie Flower', cursive;
	

}


li{
	display: inline;
	padding: 10px;
	float: right;
	font-size: 25px;
	color: white;
}
h1{
	text-align: center;
	color: white;
}
.row{
	display: inline-block;
	padding-top: 100px;
	margin-left:400px;
	background-color: black;

}
h2{
	text-align: center;
	color: white;
	margin-left: 150px;
}
p{
	text-align: center;
	color: white;
}
h3{
	color: green;
}



